= render 'modules/header'
.works
  .works__title
    Works
  .works__contents
    .work
      = link_to image_tag('task-matrix.png', alt: 'タスクをマトリクスで管理するアプリ', class: 'work__image'), "http://18.180.47.115", target: :_blank
      .work__name 
        task-matrix
      .work__detail
        タスク管理を"重要度✖️緊急度"のマトリクス上で行うためのアプリです。
        %br
        新卒駆け出しから、「タスクに優先順位をつけて仕事をする」ことが自己課題でしたので、習慣化させるために前職時代、紙にマトリクスを書いて付箋を貼って管理していたのですがマトリクスはボロボロになり、付箋の消費も多く不便だったので、いっそのことアプリにしてみようと思いました。
        %br
        特に新卒や新しい職場環境においては、上司とタスク優先順位を共有することが、タスク漏れを無くしたり、締め切りまでにキッチリ終わらせることに繋がるかと思うので、より生産性の高いチームを作る一助になるようなアプリになればと思います。
= render 'modules/footer'