.footer
  = link_to "About", "#", class: "footer__about"
  = link_to "Works", "#", class: "footer__works"
  = link_to "blog", "#", class: "footer__blog"
  = link_to "Contact", "#", class: "footer__contact"