.header
  .header__title
    AtsushiKuwabara
  .header__nav-list
    .header__nav-list__about
      About
    .header__nav-list__works
      Works
    .header__nav-list__qiita
      Qiita
  .header__sns
    = icon('fab', 'instagram', class: "icon")