.works {
  @include middle-content ;
  &__title {
    @include contents-title
  }
  &__contents {
    .work {
      height: 100%;
      width: 100%;
      &__image {
        object-fit: cover;
        object-position: left top;
        height: 100%;
        width: 100%;
      }
      &__name {
        @include mini-title
      }
      &__detail {
        @include mini-content
      }
    }
  }
}