.blog {
  font-family: 'Hiragino Maru Gothic Pro';
  .blog-upper {
    height: 6vh;
    display: flex;
    justify-content: space-between;
    padding: 3vh 0;
    line-height: 6vh;
    .upper-title {
      font-size: 4vh;
      font-weight: bold;
    }
  }
  .blog-image img {
    @include image-size;
  }
  .blog-image {
    @include image-position
  }
}