a {
  text-decoration: none;
  color: black;
}
.blog-list {
  @include middle-content;
  .title {
    @include contents-title;
  }
  .blog-content {
    padding-bottom: 2vh;
    margin-bottom: 5vh;
    border-bottom: 1px solid $accent;
    .more-button {
      border: 1px solid $background;
      margin-left: 2vw;
      padding: 0.5vh 0.5vw;
      background-color: $background;
      color: $font;
    }
  }
  .paginate {
    margin-bottom: 3vh;
  }
}